
modules = ["python-3.11", "web"]
run = "python -m http.server 8000 --bind 0.0.0.0"

[nix]
channel = "stable-24_05"
packages = ["git-doc", "vim"]

[workflows]
runButton = "HTML Server"

[[workflows.workflow]]
name = "HTML Server"
author = 43212522
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"

[deployment]
run = ["sh", "-c", "python -m http.server 8000 --bind 0.0.0.0"]

[[ports]]
localPort = 8000
externalPort = 80
